*.iml
.gradle
.kotlin
/local.properties
/.idea/
.DS_Store
build/
*/build/
/captures
.externalNativeBuild
.cxx
local.properties
app/debug
app/release
keystore.properties
wzvideni.jks
*.jks
*.keystore
*.7z
*.zip
*.rar
*.tar.*